.Tab {
  overflow-x: scroll;
  user-select: none;
  flex-shrink: 0;
  padding: 0.5rem;
  padding-bottom: 0;
  border-bottom: 1px solid rgb(220, 220, 220);
}

.Tab::-webkit-scrollbar,
.Tab::-webkit-scrollbar-thumb,
.Tab::-webkit-scrollbar-track {
  display: none;
}

.TabContainer {
  display: flex;
  gap: 0.5rem;
}

.TabItem {
  flex-shrink: 0;
  width: calc(100% / 3.2);
  height: 80px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(220, 220, 220);
  border-bottom: none;
  border-radius: 1rem 1rem 0 0;
}

.CurrentTabItem {
  flex-shrink: 0;
  width: calc(100% / 3.2);
  height: 80px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem 1rem 0 0;
  font-weight: bold;
  background-color: rgba(220, 220, 220, 0.5);
}

.TabItem:hover,
.CurrentTabItem:hover {
  font-weight: bold;
  cursor: pointer;
  background-color: rgba(220, 220, 220, 0.5);
}
