.Display {
  width: 820px;
  height: 1180px;
  margin: 10px auto;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.ReceiptContainer {
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  line-height: 1.3;
}

.ReceiptHeader {
  font-size: 24px;
  text-align: center;
  margin: 0px 100px 10px 100px;
  margin-bottom: 30px;
}

.OrderNumber {
  font-weight: 700;
}

.OrderMenus {
  margin-bottom: 30px;
}

.ReceiptInfo {
  font-weight: 700;
}

.ReceiptWarningTextContainer {
  font-size: 20px;
  text-align: center;
}

.ReceiptWarningText {
  color: #818181;
  margin-bottom: 20px;
}
